@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
}
.popup-title-color{
    color: #000;
}
.popup-text-color{
    color: #c3c3c3;
    font-size: 14px;
}
.popup-telephone-color{
    color: #ff350e;
}
.popup-back-color{
    background-color: #fff;
}
.popup-text-color,
.popup-title-color,
.popup-telephone-color{
    margin: 5px;
}
.top-block, .right-block{
    padding: 10px 15px;
    position: fixed;
    transition: 0.3s ease in;
    -webkit-box-shadow: 3px 4px 14px -4px rgba(0,0,0,0.45);
    -moz-box-shadow: 3px 4px 14px -4px rgba(0,0,0,0.45);
    box-shadow: 3px 4px 14px -4px rgba(0,0,0,0.45);
}
.top-block, .right-block p{
    font-family: 'Roboto', sans-serif;
}
.top-block{
    top: -30%;
    left: 0;
    right: 0;
    transition: 0.3s ease-in;
    width: 99%;
    height: 8%;
}
.open-top-block{
    top: 0%;
    transition: 0.3s ease-in;
}
.right-block{
    top: 40%;
    right: -40%;
    width: 18%;
    height: 18%;
    transition: 0.3s ease-in;
}
.open-right-block{
    right: 4%;
    transition: 0.3s ease-in;
}
.right-container{
    position: relative;
    width: 100%;
}
.close-trigger, .close-top-trigger{
    position: absolute;
    top: 0px;
    right: 10px;
}
.close-trigger:hover,.close-top-trigger:hover{
    cursor: pointer;
}
.block-content{
    position: relative;
}